.darkMode{
    .courses{
        .courses__left{
            background-color: $color-dark-3;
            h2{
                @include styletext($color-gray-9,$fs-3 + 1,$fw-0);
            }
        }
        #myTab{
            margin-bottom: $mg-2;
            .nav-link{
                @include styletext($color-gray-8,$fs-0,$fw-0);
                &.active{
                   background: transparent;
                  
                }
                &:hover{
                    @include styletext($color-gray-9,$fs-0,$fw-0);
                }
            }
        }
        .nav-tabs{
            border-bottom: 1px solid $color-gray-7;
        }
    }

}